body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-size: 16px;
  background-color: #fff;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}


/* header */

.logo-item {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-span {
  color: #2e2f42;
}


.navigation-item {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.navigation-item:hover,
.navigation-item:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.contacts-item {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
}

.contacts-item:hover,
.contacts-item:focus {
  color: #404bbf;
}

/* main */

/* hero-section */

.hero-image-section {
  background-color: #2e2f42;
}

.hero-image-title {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.order-service-button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.order-service-button:hover,
.order-service-button:focus {
  background-color: #404bbf;
}

/* first-section */



.first-section-list-item-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.first-section-list-item-description {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* second-section */

.second-section {
  background-color: #f4f4fd;
}

.second-section-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}



.second-section-list-item {
  background-color: #ffffff;
}

.second-section-list-item-title {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.second-section-list-item-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

/* third-section */

.third-section {
  background-color: #fff;
}


.third-section-list-item {
  background-color: #fff;
}

.third-section-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.third-section-list-item-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.third-section-list-item-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* footer */

.footer {
  background-color: #2e2f42;
}

.footer .logo-item {
  color: #4d5ae5;
}

.footer .logo-span {
  color: #f4f4fd;
}

.footer-description {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
